<% title t(:banners) %>

<div class="text-right">
    <%= link_to "#{t(:new_banner)} <i class=\"icon-plus22 position-right\"></i>".html_safe, naturesoft_banners.new_admin_banner_path, class: 'btn btn-primary' %>
</div>
<br />

<form class="listing-form">
                
    <!-- Basic datatable -->
    <div class="panel panel-flat">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="bg-teal-800">
                        <th><%= t(:image) %></th>
                        <th><%= t(:name) %></th>
                        <th><%= t(:link_url) %></th>
                        <th><%= t(:created_at) %></th>
                        <th class="text-center"><%= t(:actions) %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @banners.each do |item| %>
                        <tr>
                            <td></td>
                            <td><%= item.name %></td>
                            <td><%= truncate(strip_tags(item.description), length: 150) %></td>
                            <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                            <td class="text-center">
                                <ul class="icons-list">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>
        
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <%= link_to '<i class="glyphicon glyphicon-edit"></i> '.html_safe + t(:edit), naturesoft_banners.edit_admin_banner_path(item) %>
                                            </li>
                                            <li>
                                                <%= link_to '<i class="icon-cross2"></i> '.html_safe + t(:delete), naturesoft_banners.admin_banner_path(item), method: :delete, data: {confirm: 'Are you sure?'} %>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="dataTables_wrapper no-footer">
                <div class="datatable-footer showed">
                    <div class="dataTables_info" ><%= page_entries_info @banners %></div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <%= will_paginate @banners, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /basic datatable -->