<% if image.errors.any? %>
  <div class="alert alert-warning alert-bordered">
    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>
  
      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for([naturesoft_banners, :admin, image], html: {class: "form-horizontal", id: "validate_checking"}) do |f| %>
    
    <div class="form-group">
        <label class="col-md-2 control-label" ><%= t(:name) %> <span class='text-danger'>*</span></label>
        <div class="col-md-10">
            <%= f.text_field :name, class: "form-control required" %>
        </div>
    </div>
        
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label" ><%= t(:width) %> <span class='text-danger'>*</span></label>
            <div class="col-md-8">
                <%= f.text_field :width, class: "form-control required" %>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label" ><%= t(:height) %> <span class='text-danger'>*</span></label>
            <div class="col-md-8">
                <%= f.text_field :height, class: "form-control required" %>
            </div>
        </div>
      </div>
    </div>
        
    <div class="form-group">
      <label class="col-md-2 control-label"><%= t(:type) %></label>
      <div class="col-md-10">
        <select class="select2" name="image[image_type]">
          <option <%= "selected" if image.image_type == "fill" %> value="fill"><%= t(:fill) %></option>
          <option <%= "selected" if image.image_type == "fit" %> value="fit"><%= t(:fit) %></option>
        </select>
      </div>
    </div>

    <div class="text-right">
        <%= button_tag "#{t(:save)} <i class=\"icon-plus22 position-right\"></i>".html_safe, class: "btn btn-primary"%>
    </div>
    
<% end %>